.btn {
  display: flex;
  justify-content: center;
  width: fit-content;
  padding: 13.5px 43.5px;
  border-radius: 24px;
  border: 2px solid #56C676;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  transition: linear .2s;

  &:hover {
    background-color: #56C676;
  }

  &--green {
    background-color: #56C676;
  }

  &--white {
    border-color: #8A929C;

    span {
      display: block;
      margin: 0 0 0 10px;
    }
  }
}

.btn-underborder {
  display: flex;
  align-items: center;
  padding: 13px 0;
  position: relative;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid #F0B020;
  color: #fff;
  cursor: pointer;

  span {
    display: block;
    width: 20px;
    height: 20px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  &--close {
    padding: 13px 30px 13px 0;

    &::before {
      background-image: url("../images/dest/icons/close.svg");
    }
  }

  &--appeal {
    padding: 13px 0 13px;
    span{
      margin: 0 10px 0 0;
    }
    &::before {
      background-image: none;
    }
  }
}