html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}

p {
  margin: 0;
}

body {
  height: 100%;
  min-width: 320px;
  overflow-x: hidden;
  font-family: 'Gilroy', sans-serif;
  background-color: #0F0E0E;
  color: #fff;
}

body.lock {
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.80);
    z-index: 999;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1 0 auto;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1275px;
  padding: 0px 25px;
  margin: 0 auto;
}

.container-fluid {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}

.link-active {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    bottom: -12px;
    left: -16px;
    background-color: #56c676;
    height: 2px;
    width: calc(100% + 30px);
  }
}

.page-title {
  padding: 48px 0 10px;

  h2 {
    font-size: 28px;
    font-weight: 700;
    line-height: 100%;
  }
}


/*start breadcrumbs=========*/
.breadcrumbs {
  background-color: transparent;

  &__inner {
    padding: 10px 0px;
    overflow: hidden;
    max-width: 1400px;
  }

  &__list {
    li {
      display: inline;
      position: relative;
      line-height: 20px;
      color: #fff;
      font-size: 16px;
      line-height: 100%;

      &+li {
        padding-left: 40px;

        &::before {
          content: "";
          height: 4px;
          width: 4px;
          border-radius: 50%;
          position: absolute;
          left: 15px;
          top: 8px;
          background-color: #fff;
        }
      }

      a {
        &:hover {
          text-decoration: underline;
        }
      }

      &:last-child {
        color: #fff;
      }
    }
  }
}

/*end breadcrumbs=========*/
.border-left {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 4px;
    border-radius: 8px;
    background-color: #56c676;
  }


}

.all-offers {
  display: flex;
  width: fit-content;
  position: relative;
  font-size: 18px;
  font-weight: 600;

  &::before {
    position: absolute;
    content: "";
    bottom: -12px;
    left: 0;
    background-color: #56c676;
    height: 2px;
    width: 100%;
  }
}

.dark-bg {
  background-color: #0F0E0E;
}

.page-offers {
  .breadcrumbs {
    margin: 0 0 80px 0;
  }
}

.offers-detail {
  .breadcrumbs {
    margin: 0 0 35px 0;
  }
}

.page-article {
  .breadcrumbs {
    margin: 0 0 35px 0;
  }
}

.page-favorites {
  .breadcrumbs .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .breadcrumbs {
    margin: 0 0 70px 0;
  }

  .offers {
    padding: 0 0 20px 0;
  }
}

.page-account {
  .breadcrumbs {
    margin: 0 0 78px 0;
  }
}

.page-networks {
  .breadcrumbs {
    margin: 0 0 80px 0;
  }
}

.home {
  .offers {
    padding: 0 0 20px 0;
  }

  .question {
    padding: 85px 0 25px;
  }
}

.home-offers {
  .breadcrumbs {
    margin: 0 0 40px 0;
  }

  .offers {
    padding: 40px 0 20px 0;
  }

  .detail h5 {
    margin: 25px 0 40px 0;
  }
}

.home-orange {
  .banner--orange-intro {
    padding: 18px 0 0 0;

    .container {
      max-width: 1325px;
    }

    p {
      max-width: 375px;
    }
  }

  .intro--home {
    .container {
      max-width: 1325px;
    }
  }

  .intro__inner {
    padding: 20px 20px 0 25px;
  }

  .offers {
    padding: 0 0 20px 0;
  }

  .question {
    padding: 90px 0 25px;
  }
}

.home-orange-offers {
  .breadcrumbs {
    margin: 0 0 40px 0;
  }

  .banner--orange-intro {
    padding: 18px 0 0 0;

    .container {
      max-width: 1325px;
    }

    p {
      max-width: 375px;
    }
  }

  .banner--orange-intro {
    margin: 0 0 60px 0;
  }

  .offers {
    padding: 0 0 15px 0;

    &__bg {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: -40px;
        left: -25px;
        right: -25px;
        width: 100%;
        height: 588px;
        width: calc(100% + 50px);
        border-radius: 8px;
        background-color: #0F0E0E;
        z-index: -1;
      }
    }
  }

  .detail h5 {
    margin: 35px 0 40px 0;
  }


}