.list-blog {
  display: flex;
  flex-direction: column;
  width: 100%;

  &>li {
    margin: 0 0 20px 0;
    padding: 24px 24px 24px 23px;
    border-radius: 8px;
    border: 1px solid #383838;
    background: #1F1F1F;
    transition: linear .2s;

    &:hover {
      border-color: #56C676;
    }
  }

  h4 {
    margin: 0 0 8px 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
  }

  p {
    margin: 0 0 8px 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
      display: flex;
      flex-wrap: wrap;
    }

    li {
      margin: 8px 8px 0 0;
      padding: 10px 12px;
      border-radius: 4px;
      background-color: rgba(59, 70, 83, 0.40);
      font-size: 12px;
      font-weight: 500;
      line-height: 120%;
    }
  }

  &__link {
    margin: 8px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border: 1px solid #fff;
    border-radius: 50%;
    transform: rotate(-90deg);
    flex-shrink: 0;
  }
}

.list-decimal {
  padding: 0;
  counter-reset: counter;
  margin: 0 0 0 -25px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  li {
    height: 288px;
    counter-increment: toc;
    position: relative;
    padding: 130px 0 0 0;
    margin: 0 0 25px 25px;
    width: calc(25% - 25px);
    min-width: 287.5px;
    border: 16px solid rgba(86, 198, 118, 0.20);
    border-radius: 50%;
    flex-shrink: 0;
  }

  li::before {
    content: counter(toc, decimal-leading-zero);
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 55px;
    text-align: center;
    font-size: 60px;
    font-weight: 800;
    line-height: 100%;

  }
}

.list-choice {
  margin: 0 0 0 -25px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  li {
    margin: 0 0 25px 25px;
    width: calc(33.33333% - 25px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__img {
    width: 80px;
    height: 80px;
    margin: 0 auto 15px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  h6 {
    margin: 0 0 11px 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 100%;
  }

  p {
    max-width: 200px;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 160%;
  }
}

.reviews-list {
  li {
    margin: 0 0 17px 0;
    padding: 24px 24px 24px 24px;
    border: 1px solid #383838;
    background-color: #1F1F1F;
    border-radius: 8px;
    overflow: hidden;
  }

  &__top {
    margin: 0 0 24px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__avatar {
    display: flex;
    align-items: center;
  }

  &__avatar-img {
    margin: 0 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    background-color: #3B4653;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 20px;
      height: 20px;
      object-fit: contain;
    }
  }

  &__date {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  p {
    margin: 0 0 25px 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }

  &__bottom-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__rate {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }

  .counter {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
  }

  &__likes {
    display: flex;
    align-items: center;

    span {
      display: block;
      margin: 0 8px 0 0;
      font-size: 14px;
      font-weight: 500;
      line-height: 14px;
      color: #fff;
    }

    button {
      padding: 0;
      display: flex;
      align-items: center;
      background-color: transparent;
      outline: none;
      border: none;
      cursor: pointer;
    }
  }

  &__like,
  &__dislike {
    margin: 0 0 0 24px;
  }

  &__like.active {
    svg {
      fill: #56C676;
    }
  }

  &__dislike.active {
    svg {
      fill: #FF3D00;
    }
  }

  &__status {
    border-top: 2px solid #383838;
    margin: 23px 0 0 0;
    padding: 23px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__status-viewing{
    margin: 0 20px 0 0;
    border-radius: 8px;
    padding: 14.5px 32px;
    color: #F0B020;
    background-color: rgba(240, 176, 32, 0.20);
  }
  &__status-resolved{
    margin: 0 20px 0 0;
    border-radius: 8px;
    padding: 14.5px 32px;
    color: #56C676;
    background-color: rgba(86, 198, 118, 0.20);
  }
  &__status-refusal{
    margin: 0 20px 0 0;
    border-radius: 8px;
    padding: 14.5px 32px;
    color: #F04520;
    background-color: rgba(240, 69, 32, 0.20);
  }
  &__status-deleted{
    margin: 0 20px 0 0;
    border-radius: 8px;
    padding: 14.5px 32px;
    color: #8A929C;
    background-color: rgba(138, 146, 156, 0.20);
  }
}

.list-circle {
  margin: 0 0 30px 0;

  li {
    margin: 0 0 7px 0;
    padding: 0 0 0 25px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 6px;
      left: 12px;
      width: 3px;
      height: 3px;
      border-radius: 50%;
      overflow: hidden;
      background-color: #fff;
    }
  }
}

.list-num {
  margin: 0 0 30px 0;
  padding: 0;

  li {
    margin: 0 0 7px 7px;
    position: relative;
    counter-increment: cupcake;

    &::before {
      content: counters(cupcake, ".") ". ";
    }
  }
}

.reclame-list {
  li {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 20px 20px;
    margin: 0 0 25px 0;
    border-radius: 8px;
    border: 2px solid #56C676;
    background: linear-gradient(135deg, #56C676 0%, rgba(86, 198, 118, 0.60) 100%);
  }

  &__img {
    width: 48px;
    height: 51px;
    margin: 0 auto 20px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  p {
    font-size: 18px;
    font-weight: 700;
    line-height: 100%;
    text-align: center;
  }
}