@import "global";
@import "fonts";
@import "buttons";
@import "select";
@import "list";
@import "sticker";
@import "modals";
@import "slider";
@import "form";
@import "banner";

/*start header========*/
.header {
  height: 120px;
  padding: 28px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 248px;
    height: 64px;
    z-index: 1;

    img,
    svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__logo-mob {
    display: none;
  }

  &__box-close {
    display: none;
  }

  &__box {
    display: flex;
    align-items: center;
  }

  &__enter-mob {
    display: none;
  }

  &__all-offers,
  &__all-soc {
    font-size: 18px;
    font-weight: 500;
    line-height: 100%;
  }

  &__all-offers {
    margin: 0 32px 0 0;
  }

  &__all-soc {
    margin: 0 32px 0 0;
  }

  &__favorite {
    margin: 0 16px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: #383838;
    width: 48px;
    height: 48px;

    span {
      display: none;
    }
  }

  &__favorite.active {
    background-color: #56C676;

    svg path {
      stroke: #0F0E0E;
    }
  }

  &__currency {
    margin: 0 16px 0 0;
    width: 120px;
  }

  &__languege {
    margin: 0 16px 0 0;
    width: 120px;
  }

  &__enter {
    padding: 12.5px 30.5px;
    flex-shrink: 0;
  }

  &__exit,
  &__header__exit-mob {
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    color: #fff;
    display: flex;
    align-items: center;
  }

  &__avatar {
    margin: 0 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #3B4653;
    flex-shrink: 0;

    img,
    svg {
      width: 20px;
      height: 20px;
      object-fit: contain;
    }
  }

  &__user-name {
    max-width: 108px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__logout {
    margin: 0 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 48px;
    height: 48px;
    background-color: #383838;
    flex-shrink: 0;

    img,
    svg {
      width: 20px;
      height: 20px;
      object-fit: contain;
    }
  }

  &__menu-btn,
  &__exit-mob {
    display: none;
  }

  &__currency,
  &__languege {
    color: #fff;
    line-height: 48px;

    a {
      display: block;
      max-width: 100%;
      width: 100%;
    }
  }

  &__currency-child,
  &__languege-child {
    padding: 0 20px 0 13px;
    position: relative;
    height: 48px;
    border-radius: 8px;
    border: 1px solid #383838;
    background-color: #1f1f1f;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 10px;
      background-image: url("../images/dest/icons/arrow.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 24px;
      height: 24px;
    }

    &:hover {

      .header__currency-dropdown,
      .header__languege-dropdown {

        z-index: 10;
        border-radius: 8px;
        border: 1px solid #383838;
        background-color: #1f1f1f;
        width: 100%;
        left: 0;
        top: 48px;
        padding: 0 0 0 13px;
      }

      .header__currency-dropdown-wrap,
      .header__languege-dropdown-wrap {
        display: block;
        z-index: 10;
        width: 100%;
        left: 0;
        top: 39px;
        padding: 13px 0 0 0;
      }
    }
  }

  &__currency-dropdown-wrap,
  &__languege-dropdown-wrap {
    position: absolute;
    display: none;
  }

  &__currency-dropdown,
  &__languege-dropdown {

    li:hover {
      color: #56c676;
    }
  }
}


/*end header========*/

/*start intro=========*/
.intro {
  padding: 24px 0 40px;
  position: relative;
  z-index: 1;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__left {
    margin: 0 24px 0 0;
    padding: 24px 0 24px 25px;
    max-width: 580px;
    width: 100%;

    h1 {
      margin: 0 0 15px 0;
      font-size: 32px;
      font-weight: 700;
      line-height: 120%;
    }

    p {
      font-size: 18px;
      font-weight: 500;
      line-height: 140%;
    }
  }

  &__right {
    max-width: 600px;
    width: 100%;
  }

  &--home {
    .intro__inner {
      border-radius: 8px;
      background-color: #0F0E0E;

      .intro__left {
        padding: 0px 0 39px 0px !important;

        h1 {
          margin: 0 0 30px 0 !important;
        }

        &::before {
          display: none;
        }

      }
    }
  }
}

/*end intro=========*/

/*start offers=============*/
.offers {
  padding: 0 0 50px 0;
  position: relative;
  z-index: 1;

  &__filters {
    margin: 0 0 20px 0;
    display: flex;
  }

  &__filter-country {
    margin: 0 24px 0 0;
    width: 244px;
  }

  &__filter-type {
    margin: 0 24px 0 0;
    width: 244px;
  }

  &__filter-search {
    margin: 0 0 0 auto;
    width: 244px;
  }

  &__top {
    margin: 0 0 20px 0;
    padding: 0 10px;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    background-color: #1F1F1F;
    height: 56px;
  }

  &__top-column {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 100%;
    width: 100%;

    span {
      display: none;
    }
  }

  &__top-column:nth-child(1) {
    max-width: 291px;
    margin: 0 4px 0 0;
    flex-shrink: 0;
  }

  &__top-column:nth-child(2),
  &__top-column:nth-child(3),
  &__top-column:nth-child(4),
  &__top-column:nth-child(5),
  &__top-column:nth-child(6) {
    max-width: 182px;
    padding: 0 10px;
  }

  &__item {
    margin: 0 0 20px 0;
    position: relative;
    padding: 5px 0 24px 0;
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
    background-color: #1F1F1F;
  }

  &__item.show {
    .offers__rows {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: -1px;
        width: 100%;
        height: 160px;
        background: linear-gradient(180deg, rgba(22, 22, 22, 0.00) 0%, #161616 100%);
        z-index: 1;
      }
    }
  }

  &__item-left {
    padding: 42px 40px 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    max-width: 288px;
    width: 100%;
  }

  &__item-logo {
    margin: 0 0 26px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 208px;
    width: 100%;
    height: 92px;
    background-color: #fff;
    border-radius: 8px;
    flex-shrink: 0;

    img {
      max-width: 176px;
      width: 100%;
      height: 60px;
      object-fit: contain;
    }
  }

  &__item-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  &__item-reviews {
    margin: 0 0 27px 0;
    padding: 9.5px 30.5px 9.5px 39px;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
    background-color: rgba(86, 198, 118, 0.20);

    span {
      margin: 0 8px 0 10px;
      display: block;
      font-size: 18px;
    }

  }

  &__item-category {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span:nth-child(1) {
      display: block;
      margin: 0 0 9px 0;
      font-size: 14px;
      font-weight: 500;
    }

    span:nth-child(2) {
      text-align: center;
      padding: 9.5px 30.5px;
      height: 40px;
      width: 100%;
      display: flex;
      justify-content: center;
      text-align: center;
      font-size: 16px;
      font-weight: 500;
      border-radius: 8px;
      background-color: rgba(59, 70, 83, 0.40);
    }
  }

  &__rows {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__row {
    padding: 19px 0 19px 25px;
    border-radius: 12px 0px 0px 12px;
    display: flex;
    align-items: center;
    transition: linear .2s;

    &:hover {
      background-color: #383838;
      border-radius: 12px 0px 0px 12px;
    }
  }

  &__row-img {
    display: flex;
    justify-content: center;
    max-width: 182px;
    width: 100%;

    img {
      width: 132px;
      height: auto;
      object-fit: contain;
    }
  }

  &__row-percent {
    text-align: center;
    max-width: 182px;
    width: 100%;
    font-size: 20px;
    font-weight: 500;

    span {
      font-size: 14px;
    }
  }

  &__row-epc {
    text-align: center;
    max-width: 182px;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: baseline;

    span {
      display: block;
      margin: 0 0 0 3px;
      font-size: 14px;
    }
  }

  &__row-rate {
    text-align: center;
    max-width: 182px;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: baseline;

    span {
      display: block;
      margin: 0 0 0 3px;
      font-size: 14px;
    }
  }

  &__row-link {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 182px;
    width: 100%;
    font-size: 0;

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid #fff;
      transform: rotate(-90deg);
      text-align: center;
      flex-shrink: 0;
    }
  }

  &__bottom {
    border-top: 1px solid #383838;
    padding: 22px 32px 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__bottom-like {
    display: flex;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;

    svg {
      margin: 0 10px 0 0;
    }
  }

  &__bottom-like.active {
    svg {
      fill: #F0B020;
    }
  }

  &--detail {
    .offers__item {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-between;
      border-radius: 0;
      background-color: transparent;
    }

    .offers__item-left {
      max-width: 310px;
      padding: 42px 60px 0 40px;
    }

    .offers__item-right {
      padding: 24px 25px 24px 24px;
      width: 100%;
    }

    .offers__item-logo {
      margin: 0 0 40px 0;
    }

    h4 {
      margin: 0 0 15px 0;
      font-size: 24px;
      font-weight: 700;
      line-height: 28px;
    }

    p {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
    }
  }

  &--networks {

    .offers__top-column:nth-child(2),
    .offers__top-column:nth-child(3),
    .offers__top-column:nth-child(4),
    .offers__top-column:nth-child(5),
    .offers__top-column:nth-child(6) {
      max-width: 228px;
      padding: 0 10px;

    }

    .offers__row-img {
      max-width: 223px;
      width: 100%;
      border-radius: 8px;
      background-color: #fff;
      overflow: hidden;
    }

    .offers__row-percent {
      max-width: 223px;
      width: 100%;

      span {
        &:nth-child(1) {
          display: none;
        }
      }
    }

    .networks__item-target {
      max-width: 300px;
      width: 100%;
    }

    .offers__row-link {
      max-width: 90px;
      width: 100%;
    }
  }

  &__bottom-close {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    color: #fff;

    svg {
      margin: 0 0 0 5px;
    }
  }
}

/*end offers=============*/

/*start question===========*/
.question {
  padding: 50px 0 25px;
  overflow: hidden;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center
  }

  &__left {
    position: relative;
    margin: 0 20px 0 0;
    padding: 0 0 0 9%;
    max-width: 610px;
    width: 100%;

    &::before {
      position: absolute;
      top: -190px;
      left: 0;
      content: "";
      width: 480px;
      height: 480px;
      border-radius: 50%;
      border: 20px solid rgba(86, 198, 118, 0.20);
    }

    h4 {
      margin: 0 0 32px 0;
      font-size: 32px;
      font-weight: 700;
      line-height: 100%;
    }

    p {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
    }
  }

  &__right {
    max-width: 496px;
    width: 100%;

    li {
      margin: 0 0 38px 0;
    }

    h5 {
      padding: 12px 0 12px 23px;
      margin: 0 0 10px 0;
      font-size: 20px;
      font-weight: 700;
      line-height: 24px;
    }

    p {
      padding: 0 0 0 32px;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
    }
  }

}

/*end question===========*/

/*start steps================*/
.steps {
  padding: 25px 0 80px;

  &__box {
    margin: 0 0 45px 0;
    padding: 20px 0 20px 29px;
    max-width: 550px;
  }

  h4 {
    max-width: 290px;
    margin: 0 0 18px 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
  }

  p {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }

  ol {
    p {
      max-width: 190px;
      margin: 0 auto;
      text-align: center
    }
  }
}

/*end steps================*/

/*start choice============*/
.choice {
  padding: 60px 0 40px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__box {
    margin: 0 20px 45px 0;
    padding: 20px 0 20px 29px;
    max-width: 505px;
  }

  h4 {
    margin: 0 0 33px 0;
    font-size: 26px;
    font-weight: 700;
    line-height: 120%;
  }

  p {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
  }

  &__right {
    padding: 20px 0 0 0;
    max-width: 600px;
  }
}

/*end choice============*/

/*start detail============*/
.detail {
  padding: 13px 0 57px;

  h5 {
    margin: 0 0 40px 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    padding: 22px 0 22px 29px;

  }

  ul {
    margin: 0 0 0 -25px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    li {

      border-radius: 8px;
      overflow: hidden;
      position: relative;
      margin: 0 0 20px 25px;
      width: calc(16.66666% - 25px);
    }

    a {
      background-color: #fff;
      padding: 24px 0;
      display: block;

      img {
        width: 100%;
        height: 72px;
        object-fit: contain;
      }
    }
  }
}

/*end detail============*/


/*start reviews=============*/
.reviews {
  padding: 35px 0 40px;

  &__top {
    margin: 0 0 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h4 {
      padding: 22px 10px 22px 25px;
      font-size: 24px;
      font-weight: 700;
      line-height: 28px;
    }

    .btn {
      padding: 13.5px 33.5px;
    }
  }

  &__filter-wrap {
    margin: 0 0 35px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__filter {
    max-width: 290px;
    width: 100%;

    &>span {
      margin: 0 0 10px 0;
      display: block;
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
    }
  }

  h6 {
    margin: 40px 0 20px 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
  }

  &__form {
    max-width: 600px;
    width: 100%;
  }

  &__form-textarea {
    margin: 0 0 20px 0;
    width: 100%;
    height: 160px;
  }

  textarea {
    resize: none;
    padding: 15px;
    width: 100%;
    height: 100%;
    border: 1px solid #383838;
    background-color: #1F1F1F;
    color: #fff;
    outline: none;
  }

  &__form-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__form-rate {
    span {
      display: block;
      margin: 0 0 5px 0;
      font-size: 20px;
      font-weight: 700;
      line-height: 24px;
    }
  }

  .btn {
    padding: 13.5px 30.5px;
  }

  &--account {
    padding: 0 0 40px;
  }

  &__top-wrapper {
    margin: 80px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list-filter {
    margin: -15px 0 0 0;
    display: flex;
    flex-wrap: wrap;

    li {
      margin: 0 0 15px 24px;
    }

    button {
      padding: 14.5px 16px;
      font-size: 16px;
      font-weight: 500;
      line-height: normal;
      cursor: pointer;
      border: none;
      outline: none;
      border-radius: 8px;
    }
  }

  &__btn-viewing {
    background-color: rgba(240, 176, 32, 0.20);
    color: #F0B020;
  }

  &__btn-resolved {
    background-color: rgba(86, 198, 118, 0.20);
    color: #56C676;
  }

  &__btn-refusal {
    background-color: rgba(240, 69, 32, 0.20);
    color: #F04520;
  }

  &__btn-deleted {
    background-color: rgba(138, 146, 156, 0.20);
    color: #8A929C;
  }

  &__btn-viewing.active {
    background-color: #F0B020;
    color: #0F0E0E;
  }

  &__btn-resolved.active {
    color: #0F0E0E;
    background-color: rgb(86, 198, 118);
  }

  &__btn-refusal.active {
    color: #0F0E0E;
    background-color: rgb(240, 69, 32);
  }

  &__btn-deleted.active {
    color: #0F0E0E;
    background-color: rgb(138, 146, 156);
  }

  .btn-underborder--show {
    color: #0F0E0E;
    margin: 35px auto 0;
  }
}

/*end reviews=============*/

/*start networks-===============*/
.networks {
  padding: 40px 0 40px;

  &__info {
    padding: 22px 10px 22px 25px;
    margin: 0 0 45px 0;

    h4 {
      margin: 0 0 14px 0;
      font-size: 24px;
      font-weight: 700;
      line-height: 28px;
    }

    p {
      display: block !important;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px 0;
    padding: 0 10px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, .05);
    border-radius: 12px;
    background-color: #1f1f1f;
    height: 56px;
    font-weight: 700;
  }

  &__top-column:nth-child(1) {
    max-width: 314px;
    width: 100%;
    text-align: center;
    flex-shrink: 0;
  }

  &__top-column:nth-child(2) {
    max-width: 314px;
    width: 100%;
    text-align: center;
  }

  &__top-column:nth-child(3) {
    max-width: 320px;
    width: 100%;
    text-align: center;
  }

  &__top-column:nth-child(4) {
    max-width: 160px;
    width: 100%;
    text-align: center;
  }

  &__items {

    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px 0px 0px 12px;
    padding: 16px 16px 16px 16px;
  }

  &__item:nth-child(even) {
    background-color: #383838;
  }

  &__item-logo {
    display: flex;
    justify-content: center;
    border-radius: 8px;
    background-color: #fff;
    max-width: 309px;
    width: 100%;
    flex-shrink: 0;

    img {
      height: 48px;
      width: auto;
      object-fit: contain;
      object-position: center;
    }
  }

  &__item-percent {
    max-width: 309px;
    width: 100%;
    text-align: center;
  }

  p {
    display: none;
  }

  &__item-target {
    max-width: 320px;
    width: 100%;

    strong {
      padding: 0 50px 0 16px;
      position: relative;
      display: block;
      height: 48px;
      border-radius: 8px;
      border: 1px solid #383838;
      background-color: #1F1F1F;
      font-size: 16px;
      font-weight: 400;
      line-height: 48px;
      white-space: nowrap;
      cursor: pointer;

      &::before {
        content: "";
        height: 20px;
        margin-left: -4px;
        margin-top: -2px;
        position: absolute;
        right: 16px;
        top: 56%;
        transform: translateY(-50%);
        width: 20px;
        background-image: url("../images/dest/icons/arrow.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }

      &:hover {
        ul {
          display: block;
        }
      }
    }

    ul {
      display: none;
      position: absolute;
      top: 110%;
      left: 0;
      width: 100%;
      border-radius: 8px;
      border: 1px solid #383838;
      background-color: #1F1F1F;
      z-index: 10;

      li {
        padding: 8px 16px;
        font-size: 14px;
        font-weight: 400;
        line-height: 100%;
        display: flex;
        justify-content: space-between;
        white-space: pre-line;
      }

      span {
        max-width: 80px;
        flex-shrink: 0;
        display: block;
        margin: 0 0 0 5px;
        color: #56C676;
        text-align: right;
      }
    }
  }

  &__item-link {
    max-width: 160px;
    width: 100%;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      margin: 0 auto;
      border-radius: 50%;
      border: 1px solid #fff;
      transform: rotate(-90deg);
      text-align: center;
      flex-shrink: 0;
    }

    span {
      display: block;
      width: 20px;
      height: 20px;
    }
  }

  .all-offers {
    margin: 58px 0 50px;
  }

  &--offers {
    .offers__item {
      padding: 0;
    }

    .offers__row:hover {
      background-color: transparent;
    }

    .offers__row:nth-child(even) {
      background-color: #383838;
    }

    .offers__top-column:nth-child(1) {
      max-width: 20%;
      width: 100%;
    }

    .offers__top-column:nth-child(2) {
      max-width: 20%;
      width: 100%;
    }

    .offers__top-column:nth-child(3) {
      max-width: 20%;
      width: 100%;
    }

    .offers__top-column:nth-child(4) {
      max-width: 20%;
      width: 100%;
    }

    .offers__top-column:nth-child(5) {
      max-width: 20%;
      width: 100%;
    }

    .offers__row-img {
      max-width: 20%;
      width: 100%;
    }

    .offers__row-percent {
      max-width: 20%;
      width: 100%;
    }

    .offers__row-epc {
      max-width: 20%;
      width: 100%;
    }

    .offers__row-rate {
      max-width: 20%;
      width: 100%;
    }

    .offers__row-link {
      max-width: 20%;
      width: 100%;
    }
  }
}

/*end networks-===============*/

/*start article============*/
.article {
  padding: 42px 0 40px;
  max-width: 853px;
  width: 100%;
  margin: 0 auto;

  &__inner {
    &>h3 {
      margin: 0 0 30px 0;
      font-size: 22px;
      font-weight: 700;
      line-height: 150%;
    }

    &>h6 {
      margin: 0 0 5px 0;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
    }

    &>p {
      margin: 0 0 45px 0;
      font-size: 16px;
      font-weight: 400;
      line-height: 160%;

      strong {
        font-weight: 600;
      }
    }
  }

  &__info {
    margin: 0 0 45px 0;
    padding: 24px 0 24px 28px;

    h5 {
      margin: 0 0 15px 0;
      font-size: 24px;
      font-weight: 700;
      line-height: 28px;
    }

    p {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
    }
  }

  blockquote {
    margin: 0 0 50px 0;
    padding: 25px 48px 25px 48px;
    border-radius: 8px;
    background-color: #3B4653;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;

    strong {
      font-weight: 600;
    }
  }

  &__border {
    margin: 0 0 45px 0;
    padding: 23px 40px 24px 46px;
    border-radius: 8px;
    border: 4px solid #56C676;

    h5 {
      margin: 0 0 12px 0;
      font-size: 22px;
      font-weight: 700;
      line-height: 150%;
    }

    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 160%;
    }
  }

  &__bg {
    margin: 50px 0 50px;
    padding: 24px 48px 24px 48px;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    border-radius: 8px;
    background-color: #56C676;
  }

  .list-choice {
    margin: 0 0 20px -25px;
  }
}

/*end article============*/

/*start articles============*/
.articles {
  &__top {
    margin: 0 0 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h5 {
      padding: 23px 0 23px 29px;
      font-size: 24px;
      font-weight: 700;
      line-height: 28px;
    }

    .btn {
      padding: 13.5px 30.5px;
    }
  }

  .list-blog {
    padding: 0 0 50px 0;
    margin: 0 0 0 -25px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    width: calc(100% + 24px);

    &>li {
      display: block !important;
      margin: 0 0 25px 25px;
      width: calc(50% - 25px);
    }
  }
}

/*end articles============*/

/*start page-404=============*/
.page-404 {
  .content {
    background-position: top left;
    background-size: contain;
  }

  .intro {
    padding: 24px 0 0px;
  }

  .list-blog>li {
    display: block !important;
  }

  .intro__left {
    margin: 0 24px 0 0;
    padding: 6px 0 24px 0px;
    max-width: 595px;
    width: 100%;

    h1 {
      margin: 0 0 20px 0;
      font-size: 80px;
      font-weight: 700;
      line-height: 100%;
    }

    h2 {
      margin: 0 0 20px 0;
      font-size: 32px;
      font-weight: 700;
      line-height: 40px;
    }

    p {
      margin: 0 0 48px 0;
      font-size: 18px;
      font-weight: 500;
      line-height: 150%;
    }

    .btn {
      padding: 13.5px 30.5px;
    }
  }
}

/*end page-404=============*/

/*start line========*/
.wrap {
  position: relative;
  max-width: 100%;
  margin: auto;
  background-color: #1F1F1F;

  &::before {
    content: "";
    position: absolute;
    top: -122px;
    left: -18px;
    width: 480px;
    height: 480px;
    background-image: url("../images/dest/content/bg-404.png");
    background-repeat: no-repeat;
    background-position: center;

  }
}

.items-wrap {
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: 20px;
}

.items {
  flex-shrink: 0;
  display: flex;
  gap: 20px;
  justify-content: space-around;
  min-width: 100%;
}

.item {
  padding: 0 0 0 20px;
  position: relative;
  height: 48px;
  flex: 0 0 auto;
  width: fit-content;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #56C676;
  transition: all 0.1s ease-in-out;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;

  &::before {
    content: "";
    position: absolute;
    left: -3px;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 1px;
    background-color: #56C676;
  }
}

.marquee {
  animation: scroll 20s linear infinite;
}

.reverce {
  animation-direction: reverse;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-100% - 20px));
  }
}

/*end line========*/

.slider-wrapper {
  padding: 20px 0 45px;
}

.form-wrapper {
  padding: 45px 0 110px;
  background-image: url("../images/dest/icons/bg-form.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center 38%;
}

/*start account=======*/


.AccLinks-wrap {
  display: flex;
  justify-content: space-between;
}

.account-links {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 85px 0;

  a {
    display: flex;
    margin: 0 30px 0 0;
    padding: 15px 0 10px;
    height: 43px;
    font-size: 18px;
    font-weight: 500;
    line-height: 100%;
  }

  li.account-link-active {
    a {
      border-bottom: 2px solid #56C676;
    }
  }
}

.account-intro {
  padding: 0 0 40px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__left {
    height: 160px;
    padding: 34px 40px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #383838;
    background-color: #1F1F1F;
  }

  &__left-wrap {
    &>span {
      display: block;
      margin: 0 0 8px 0;
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
    }

    max-width: 288px;
    width: 100%;
    margin: 0 23px 0 0;
  }

  &__right-wrap {
    &>span {
      display: block;
      margin: 0 0 8px 0;
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
    }

    width: 100%;
  }

  &__img {
    padding: 13px 16px;
    border-radius: 8px;
    background-color: #FFF;

    img {
      height: 60px;
      width: 100%;
      object-fit: contain;
    }
  }

  &--img-none {
    background-color: transparent;
  }

  &__right {
    width: 100%;

    h1 {
      margin: 0 0 16px 0;
      font-size: 24px;
      font-weight: 700;
      line-height: 28px;
    }

    p {
      margin: 0 0 24px 0;
      font-size: 14px;
      font-weight: 500;
      line-height: 24px;
    }

    .btn {
      padding: 11.5px 30.5px;
      height: 48px;
      margin: 24px 0 0 auto;
    }

    textarea {
      resize: none;
      padding: 15px;
      width: 100%;
      height: 160px;
      border: 1px solid #383838;
      background-color: #1f1f1f;
      color: #fff;
      outline: none;

      &::placeholder {
        color: rgba(#fff, .5);
      }
    }
  }
}

.account-addLogo {
  max-width: 290px;
  margin: 24px 0 0 0;
  height: 48px;
  padding: 9.5px 30px;
  border-radius: 24px;
  border: 2px solid #3B4653;
  cursor: pointer;

  input[type="file"] {
    display: none;
  }

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &__sup {
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
  }

  &__icon {
    width: 20px;
    height: 20px;
    margin: 0 0 0 10px;
  }
}


/*end account=======*/

.reclame {
  display: flex;
  justify-content: center;

  &__list {
    padding: 25px 0 0 0;
    max-width: 205px;
    width: 100%;
    position: sticky;
    top: 0;
    height: fit-content;

    .btn {
      margin: 0 0 20px 0;
      padding: 13.5px 25.5px;
      width: 100%;
      font-size: 16px;
      font-weight: 600;
      line-height: normal;
    }
  }
}

/*start blog=====================*/
.blog {
  padding: 43px 0 20px;
  max-width: 860px;
  width: 100%;
  margin: 0 auto;

  &__list {
    &>li {
      margin: 0 0 21px 0;
      padding: 24px 24px 24px 24px;
      border-radius: 8px;
      border: 1px solid #383838;
      background-color: #1F1F1F;
    }
  }

  &__img {
    margin: 0 0 15px 0;
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    height: 400px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  h4 {
    margin: 0 0 8px 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
  }

  p {
    margin: 0 0 8px 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      display: flex;
      flex-wrap: wrap;
    }

    li {
      margin: 8px 8px 0 0;
      padding: 10px 12px;
      border-radius: 4px;
      background-color: rgba(59, 70, 83, 0.40);
      font-size: 12px;
      font-weight: 500;
      line-height: 120%;
    }
  }

  &__link {
    margin: 0 0 0 auto;

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      border: 1px solid #fff;
      transform: rotate(-90deg);
      text-align: center;
      flex-shrink: 0;
    }
  }

  .btn-underborder {
    margin: 35px auto 20px;
  }
}

/*end blog=====================*/


/*start add-info===========*/
.add-info {
  display: none;

  &__inner {
    margin: 0 0 40px 0;
    padding: 0 0 10px 0;
    border-bottom: 2px solid #383838;
  }

  &__top {
    margin: 0 0 24px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__avatar {
    display: flex;
    align-items: center;

    span {
      font-size: 16px;
      font-weight: 600;
      line-height: normal;
    }
  }

  &__avatar-img {
    margin: 0 12px 0 0;
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3B4653;
    border-radius: 50%;
    overflow: hidden;

    img,
    svg {
      width: 20px;
      height: 20px;
      object-fit: contain;
    }
  }

  &__date {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  p {
    margin: 0 0 24px 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }

  &__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  &__item {
    width: 80px;
    margin: 0 12px 12px 0;
    height: 84px;
    border-radius: 8px;
    overflow: hidden;
    border: 2px solid #3B4653;
    cursor: pointer;

    input[type=file] {
      display: none;
    }
  }

  &__wrap {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: 8px;
      left: 50%;
      transform: translateX(-50%);
      width: 64px;
      height: 48px;
      background-image: url("../images/dest/content/add-before.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      background-color: #383838;
      cursor: default;
    }
  }

  &__sup {
    font-size: 10px;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
  }

  &--page {
    display: block;
    padding: 25px 0 65px;

    .reviews-list {
      margin: 0 0 60px 0;
    }

    .add-info__inner {
      margin: 0 0 25px 0;
    }
  }

  &__inner-box {
    position: relative;
  }
}

.add-info.open {
  display: block;
}

/*end add-info===========*/


/*start connection===============*/
.connection {
  padding: 0 0 40px 0;

  .offers__filter-country {
    width: 100%;
  }

  .border-left {
    margin: 0 0 25px 0;
    padding: 23px 0 23px 27px;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
  }

  &__input-large {
    width: 100%;

    &>span {
      display: block;
      margin: 0 0 8px 0;
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
    }
  }

  &__input-inner {
    width: 100%;

    input {
      padding: 15px;
      border-radius: 8px;
      border: 1px solid #383838;
      background-color: #1f1f1f;
      height: 48px;
      font-size: 16px;
      font-weight: 400;
      line-height: 100%;
      outline: 0;
      color: #fff;
      width: 100%;
    }

  }

  &__top {
    display: flex;
    width: 100%;
    align-items: flex-end;

    &--network {

      .connection__select,
      .connection__input-large {
        width: calc(50% - 24px);
      }
    }
  }

  &__top-box {
    width: 100%;
    margin: 24px 0 0 0;
    display: flex;
    align-items: flex-end;
  }

  &__input-large {
    width: calc(33.33333% - 24px);
  }

  &__select {
    margin: 0 24px 0 0;
    width: calc(33.33333% - 24px);

    &>span {
      display: block;
      margin: 0 0 8px 0;
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
    }
  }

  .btn {
    width: 84px;
    padding: 11.5px 29.5px;
    height: 48px;

    span {
      display: none;
    }
  }
}

/*end connection===============*/

/*start links================*/
.links {
  padding: 0 0 15px;

  &--networks {
    .links__col-wrap {
      width: calc(50% - 24px);
    }
  }

  &__item {
    margin: 0 0 24px 0;
    display: flex;
    align-items: flex-end;
  }

  h6 {
    margin: 0 0 25px 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
  }

  &__item-box {
    display: flex;
    max-width: 1145px;
    width: 100%;
  }

  &__col-wrap {
    margin: 0 24px 0 0;
    width: calc(33.33333% - 24px);

    span {
      display: block;
      margin: 0 0 8px 0;
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
    }
  }

  &__item-col {
    padding: 16px 16px 16px 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    border-radius: 8px;
    border: 1px solid #383838;
    background-color: #1F1F1F;
    height: 48px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 84px;
    height: 48px;
    border-radius: 24px;
    border: 2px solid #F04520;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    flex-shrink: 0;
  }
}

/*end links================*/

.favorites-links {
  margin: 0 0 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__box {
    a {
      padding: 15px 24px;
    }

    a.active {
      border-bottom: 2px solid #56c676;
    }
  }
}


/*start footer============*/
.footer {
  padding: 80px 0 100px;
  border-radius: 32px 32px 0px 0px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.05);
  background-color: #1F1F1F;
  overflow: hidden;

  &__inner {
    display: flex;
    justify-content: space-between
  }

  &__left {
    margin: 0 25px 0 0;
    max-width: 600px;
    width: 100%;

    p {
      margin: 0 0 55px 0;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }

    span {
      font-size: 16px;
      font-weight: 400;
      line-height: 100%;
    }
  }

  &__logo {
    display: block;
    width: 248px;
    height: 64px;
    margin: 0 0 40px 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__right {
    padding: 35px 0 0 0;
    text-align: right;

    h6 {
      margin: 0 0 50px 0;
      font-size: 22px;
      font-weight: 700;
      line-height: 100%;
    }
  }

  ul {
    li {

      margin: 0 0 25px 0;
      font-size: 18px;
      font-weight: 500;
      line-height: 100%;

      a {
        position: relative;

        &::before {
          content: "";
          position: absolute;
          width: 100%;
          right: 0;
          bottom: -2px;
          border-radius: 2px;
          height: 2px;
          width: 0;
          background-color: #56C676;
          transition: linear .2s;
        }

        &:hover {
          &::before {
            width: 100%;
          }
        }
      }
    }
  }
}

/*end footer============*/




@import "media";